.card {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
}

.card-title {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: white;
  font-weight: bold;
  font-size: 2.25rem;
  letter-spacing: 1.2px;
  font-family: var(--primary-font);
}

@media(max-width: 768px){
  .card{
    height: 480px;
  }

  .card-title {
    font-size: 3rem;
    letter-spacing: 1px;
  }
}