.content {
    min-height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: start;
}

.title{
  margin: 3.5rem 0;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: .75rem;
  font-family: var(--primary-font);
  color: var(--text-color);
  text-transform: uppercase;
}

.gradient-line {
  height: 6px;
  width: 100%;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}