.header {
  background-color: var(--default-white);
  padding-block: 2.5rem;  
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.logo{
  width: 25%;
}

.logo-img{
  width: 100%;
}

.nav-links{
  display: flex;
  gap: 5rem;
  list-style: none;
}

button{
  font-family: var(--primary-font);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.75px; 
  color: var(--text-color);
}

.active{
  font-weight: bold;
}

@media(max-width: 768px){
  .nav-container{
    width: 70%;
  }

  .logo{
    width: 30%;
  }

  .nav-links{
    gap: 2rem;
  }

  button{
    font-size: 1rem;
    letter-spacing: 0.25px; 

  }
}
